*
    font-family: 'Ubuntu', sans-serif;
@import 'titles'
@import 'buttons'
@import 'header'
@import 'advantages'
@import 'skills'
@import 'portfolio'
@import 'footer'
@import 'slider'
@import 'form'
html
    height: 100%
body
    background-color: #ced7d8
    height: 100%
hr
    height: 2px
    background-color: black
    border: none
    margin: 0
    box-shadow: 0 0 10px black
.active
    transform: scale(1.1)
.show
    display: block
.hide
    display: none

#anchor
    display: block
    height: 50px
    width: 50px
    background: url(../icons/anchor.svg) center center/cover no-repeat
    position: fixed
    right: 20px
    bottom: 20px
    z-index: 9999   
       
        

